services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - /mnt/volume_tor1_01:/var/lib/postgresql
    ports:
      - "127.0.0.1:5432:5432"

  backend:
    build: .
    restart: always
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: 8080
    ports:
      - "8080:8080"
    depends_on:
      - db
    command: ["npm", "start"]
